* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Garante que o conteudo dos elementos não ultrapassem a borda*/
	                        /*veja mais em : https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
}

body {
    font-family: Arial, sans-serif;
    background-image: url('img/fundo-sobre-nos.jpg'); /*Veja mais em https://developer.mozilla.org/en-US/docs/Web/CSS/background-image*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
